{% extends "pages/base.html" %}
{% load static %}
{% block title %}
Django Blog - Home
{% endblock %}
{% block content %}
    <main role="main" class="container">
    <div class="row">

        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        <article class="media content-section">
          <img src="{% static 'image/0691d9978a334b99.jpg' %}" class="rounded-circle article-img">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="https://blog.minhho.xyz/user/minh3">minh3</a>
              <small class="text-muted">2021-05-14 13:26:23</small>
            </div>
            <h2><a class="article-title" href="https://blog.minhho.xyz/post/20">Define</a></h2>
            <p class="article-content">Khởi nghiêp : sáng tạo
Lập nghiệp : Khởi nghiệp mà không có sáng tạo
Kế nghiêp : Khởi nghiệp không sáng tạo, không lập nghiệp</p>
          </div>
        </article>
    
        <article class="media content-section">
          <img src="{% static 'image/0691d9978a334b99.jpg' %}" class="rounded-circle article-img">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="https://blog.minhho.xyz/user/minh3">minh3</a>
              <small class="text-muted">2021-05-13 14:24:04</small>
            </div>
            <h2><a class="article-title" href="https://blog.minhho.xyz/post/19">Layers of software</a></h2>
            <p class="article-content">There are five layers of software:
- Hosting : where data is stored
- Database : how data is stored
- Logic : how data is processed
- API : how data is fetched
- UI : how data is presented
</p>
          </div>
        </article>
    
        <article class="media content-section">
          <img src="{% static 'image/default.jpg' %}" class="rounded-circle article-img">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="https://blog.minhho.xyz/user/Viet%20%C4%90z">Viet Đz</a>
              <small class="text-muted">2021-05-07 06:39:02</small>
            </div>
            <h2><a class="article-title" href="https://blog.minhho.xyz/post/18">Cài đặt máy chủ Apache trên WSL 2</a></h2>
            <p class="article-content">Kiểm tra các module được nạp

apache2ctl -M
Nạp một module, ví dụ rewrite

sudo a2enmod rewrite
Cài đặt MySQL Server trong Ubuntu WSL

Mặc định cài đặt MySQL 8
sudo apt install mysql-server -y
sudo service mysql start
Chỉnh cấu hình MySQL ở file /etc/mysql/my.cnf, ví dụ cấu hình sử dụng xác thực kiểu mysql_native_password

[mysqld]
default_authentication_plugin=mysql_native_password
sudo service mysql restart
Cuối cùng, thử gõ lệnh sudo mysql để kết nối vào MySQL Server, gõ exit để thoát ra.

Quản trị MySQL Server xem tại: MySQL Server

Cài đặt PHP Ubuntu WSL
Thực hiện lệnh

sudo apt install php libapache2-mod-php php-mysql -y
Kiểm tra Từ dòng lệnh gõ

php -v
Cấu hình Apache làm việc với PHP
Mở file

sudo nano /etc/apache2/mods-enabled/dir.conf
Sửa lại nội dung của nó, cho index.php lên đầu.

&lt;IfModule mod_dir.c&gt;
        DirectoryIndex index.php index.html index.cgi index.pl index.xhtml index.htm
&lt;/IfModule&gt;
Tạo một file index.php với lệnh

sudo nano /var/www/html/index.php</p>
          </div>
        </article>
    
        <article class="media content-section">
          <img src="{% static 'image/default.jpg' %}" class="rounded-circle article-img">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="https://blog.minhho.xyz/user/DucDz">DucDz</a>
              <small class="text-muted">2021-05-05 02:58:13</small>
            </div>
            <h2><a class="article-title" href="https://blog.minhho.xyz/post/17">MUỐN KIẾM NHIỀU TIỀN THÌ PHẢI GIỎI CÁI GÌ?</a></h2>
            <p class="article-content">1. Phải giỏi chuyên môn, nếu kinh doanh thì sản phẩm phải chất lượng
Đến giờ bạn đã biết mình phải giỏi cái gì để kiếm được nhiều tiền rồi đúng không? Tất nhiên những thứ tôi kể trên không dễ gì để đạt được. Nếu dễ thì có lẽ ai cũng trở thành triệu phú, tỷ phú hết rồi. Thế nên bạn phải học hỏi, trau dồi từng ngày để nâng cao trình độ hiểu biết, mở rộng kỹ năng và biến bản thân thành người giỏi nhất.

Theo Trí Thức Trẻ</p>
          </div>
        </article>
    
        <article class="media content-section">
          <img src="{% static 'image/0691d9978a334b99.jpg' %}" class="rounded-circle article-img">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="https://blog.minhho.xyz/user/minh3">minh3</a>
              <small class="text-muted">2021-05-01 10:50:25</small>
            </div>
            <h2><a class="article-title" href="https://blog.minhho.xyz/post/16">HDD</a></h2>
            <p class="article-content">1. &lt;b&gt;Seagate Barracuda/Seagate Barracuda Pro và Western Blue&lt;/b&gt;
4. Western Purple và Seagate SkyHawk/SkyHawk AI

Sử dụng cho lưu trữ cho Camera
Với yêu cầu thiết kế chuyên dùng cho việc giám sát và lưu trữ dữ liệu hình ảnh kiểm tra, kiểm soát liên tục định hướng lắp đặt sử dụng cho các hệ thống camera an ninh, đầu ghi camera… cung cấp mạnh nhất là khả năng ghi dữ liệu liên tục 24/7 mà vẫn đảm bảo ổn định về hiệu suất hoạt động.
Thường được các hãng chế tạo với nhiều đặc tính kỹ thuật đi kèm riêng biệt phù hợp với yêu cầu để tạo thành các dòng sản phẩm đặc trưng</p>
          </div>
        </article>
          <a class="btn btn-info mb-4" href="https://blog.minhho.xyz/home?page=1">1</a>

          <a class="btn btn-outline-info mb-4" href="https://blog.minhho.xyz/home?page=2">2</a>
          ...
          <a class="btn btn-outline-info mb-4" href="https://blog.minhho.xyz/home?page=4">4</a>
        </div>
        <div class="col-md-4">
        <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class="text-muted">You can put any information here you'd like.
            </p><ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
            </ul>
            <p></p>
        </div>
        </div>
    </div>
    </main>
{% endblock %}
