{% extends "pages/base.html" %}
{% load static %}
{% block title %}
Django Blog - Login
{% endblock %}
{% block content %}
    <main role="main" class="container">
    <div class="row">
        <div class="col-md-8">           
        
<div class="content-section">
    <form  method="POST">
        <input id="csrf_token" name="csrf_token" type="hidden" value="IjhkMjgzNDA5NDYyMWY4NWQxYTc0N2IzNWMzZTIyZjY2MThlMzVlYWUi.YKyYDw.uLzYKJjibYixSz7CmYQ-gO-2RIY">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login</legend>
            <div class="form-group">
                <label class="form-control-label" for="email">Email</label>

                
                <input class="form-control form-control-lg" id="email" name="email" required="" type="email" value="">
                
            </div>
            <div class="form-group">
                <label class="form-control-label" for="password">Password</label>
                
                <input class="form-control form-control-lg" id="password" name="password" required="" type="password" value="">
                
            </div>
            <div class="form-check">
                <input class="form-check-input" id="remember" name="remember" type="checkbox" value="y">
                <label class="form-check-label" for="remember">Remember Me</label>
            </div>
        </fieldset>
        <div class="form-group">
            <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="Login">
        </div>
        <small class="text-muted ml-2">
            <a href="https://blog.minhho.xyz/reset_password">Forgot Pasword?</a>
        </small>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a href="https://blog.minhho.xyz/register" class="ml-2">Sign Up Now</a>
    </small>
</div>

        </div>
        <div class="col-md-4">
        <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class="text-muted">You can put any information here you'd like.
            </p><ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
            </ul>
            <p></p>
        </div>
        </div>
    </div>
    </main>

{% endblock %}